.container-switcher {
    margin-top: 3px;
    position: relative;
    display: inline-block;
}

.container-switcher span {
    z-index: 10;
    text-transform: lowercase;
    font-size: 11.1px;
    position: absolute;
    top: 1px;
    left: 7px;
    font-weight: bold;
    color: white;
}

.round {
    position: relative;
}

.round input[type="checkbox"] {

    position: relative;
    width: 65px;
    height: 29px;
    -webkit-appearance: none;
    outline: none;
    background: #4f4c4c;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

.round input:checked[type="checkbox"] {
    background: #4f4c4c;
    border: solid 1px #303030;
}

.round input[type="checkbox"]:before {
    cursor: pointer;
    z-index: 10;
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 20px;
    top: 3.12px;
    left: 3px;
    background: #4c4c4c;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

#sun img {
    cursor: pointer;
    top: 3px;
    position: absolute;
    left: -2.7px;
    width: 20px;
}

#moon img {
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 33px;
    width: 18px;
}

.round input:checked[type="checkbox"]:before {
    left: 37px;
    top: 2px;
}
/*theme custome*/
.block-comments {
  padding: 10px;
  box-shadow: -1px -1px 3px 3px rgba(207, 207, 207, 0.65), 1px 1px 3px 3px rgba(207, 207, 207, 0.65);
}
.footer .nav a {
	border: 1px solid #276fdb;
}
.miniplayer {
	position: fixed;
	width: 20%;
	z-index: 9998;
	left: 0px;
	top: 0px;
}
@media screen and (max-width: 980px) {
.miniplayer {
	width: 15%;
	z-index: 9998;
	left: 0px;
	top: 0px;
	}
}
@media screen and (max-width: 420px) {
.miniplayer {
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 9998;
	}
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 115px;
  overflow: auto;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  z-index: 9998;
  top: 50px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
	border: 1px solid;
	box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .30), 0 4px 8px 3px rgba(60, 64, 67, .15);
}
/* Social button design*/
.social {
  margin: 5px 0 5px 5px;
  padding: 2px;
  background: #303134;
  width: fit-content;
  border-radius: 2px;
  box-sizing: border-box;
  /* border: 1px solid #5f6368; */
}

.fa:hover {
    opacity: 0.7;
}

.fa-whatsapp {
  background: #1ed92e;
  color: white;
  border-radius: 10%;
  padding: 3px 5px;
  font-size: 28px !important;
  }

.fa-twitter-square {
  background: #55ACEE;
  color: white;
  border-radius: 10%;
  padding: 3px 5px;
  font-size: 28px !important;
}

.fa-reddit-square {
  background: #ff5700;
  color: white;
  border-radius: 10%;
  padding: 3px 5px;
  font-size: 28px !important;
}
.fa-vk {
  background: #a4c639;
  color: white;
  border-radius: 10%;
  padding: 3px 5px;
  font-size: 28px !important;
}

.fa-facebook-square {
  background: #3B5998;
  color: white;
  border-radius: 10%;
  padding: 3px 5px;
  font-size: 28px !important;
}

.fa-google {
  background: #dd4b39;
  color: white;
  border-radius: 10%;
  padding: 3px 5px;
  font-size: 28px !important;
}

.fa-linkedin-square {
  background: #007bb5;
  color: white;
  border-radius: 10%;
  padding: 3px 5px;
  font-size: 28px !important;
}

.fa-tumblr-square {
  background: #2c4762;
  color: white;
  border-radius: 10%;
  padding: 3px 5px;
  font-size: 28px !important;
}

.fa-envelope-square {
  background: #cb2027;
  color: white;
  border-radius: 10%;
  padding: 3px 5px;
  font-size: 28px !important;
}

.fa-copy {
  background: #2c4762;
  color: white;
  border-radius: 10%;
  padding: 3px 5px;
  font-size: 28px !important;
}
@media screen and (max-width: 420px) {
.social {
  margin: 5px 0 5px 0;
  padding: 2px;
}
.fa-whatsapp {
  font-size: 26px !important;
}

.fa-twitter-square {
  font-size: 26px !important;
}

.fa-reddit-square {
  font-size: 26px !important;
}
.fa-vk {
  font-size: 26px !important;
}

.fa-facebook-square {
  font-size: 26px !important;
}

.fa-google {
  font-size: 26px !important;
}

.fa-linkedin-square {
  font-size: 26px !important;
}

.fa-tumblr-square {
  font-size: 26px !important;
}

.fa-envelope-square {
  font-size: 26px !important;
  }
}