.social {
  position: fixed;
 left: 40px;
 bottom: 1%;
 z-index: 300;
 width: calc(100% - 80px);
 border: solid black 1px;
 box-shadow: 1px 2px;
 background-color: yellow;
 padding: 6px;
 text-align: center;
 box-sizing: border-box;
}
.social a {
  padding: 0 .5em;
}
